body {
  width: 300px;
  height: 500px;
  background-color: rgba(212, 188, 67, 0.25);
  font-family: "Montserrat", sans-serif;
  overflow: auto;
}

html {
  overflow: auto;
}


/* NAV */
.tab {
  background-color: rgba(0, 0, 0, 1);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  border: 1px solid transparent;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tabcontent {
  text-align: left;
  margin-top: 75px;
}

/* Style the buttons inside the tab */
.tab button {
  outline: none;
  padding: 5px 2px;
  margin: 0 8px;
  color: aliceblue;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}

/* Create an active/current tablink class */
button.tablinks.active,
button:hover {
  border-bottom: 1px solid #cfffdf;
  border-radius: 0px;
}


/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  height: 40px;
  text-align: center;
  background-color: #000;
  color: aliceblue;
  font-size: 14px;
}

/* Download Button */
#download {
  outline: none;
  padding: 5px 2px;
  margin: 0 8px;
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
}

#download:hover {
  border-bottom: 1px solid #cfffdf;
  border-radius: 0px;
}